html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}